@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital=optional-2nd-font-name&display=swap');
body{
    font-family: var(--paragraph-serif);
    max-width: 960px;
    padding: 20px;
}

:root{
    --primary-color: #269BFC;
    --secondary-color: #0F0A0A;
    --accent1-color: #E7DFC6;
    --accent2-color: #F5B0CB;

    --heading-font: 'Noto Serif Display', serif;
    --paragraph-font: 'Instrument Serif', serif;

    --nav-background-color: #269BFC;
    --nav-link-color: #0F0A0A;
    --nav-hover-link-color: #E7DFC6;
    --nav-hover-background-color: #F5B0CB;
}

body{
    font-family: var(--paragraph-serif);
    max-width: 960px;
    padding: 20px;

}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-serif);
    color: var(--primary-#269bfc);
}

header{
    padding: 20px;
    background-color: var(--#E7DFC6);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--nav-background-#269BFC);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-#E7DFC6);
    text-decoration: var(#E7DFC6);
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-#E7DFC6);
}

nav a :hover{
    color: var(--nav-hover-link-#E7DFC6);
    background-color: var(--nav-hover-background-#269BFC);
}
